.container:global(.ui.segment){
    padding: 14px 14px 16px;
    margin: 0;
    width: 380px;
    height: 264px;
    max-width: 380px;
    background-color: #fff5c6;
}

.image:global(.ui.image){
    height: auto;
    max-width: 110px;
    max-height: 110px;
    margin: 0;
}

.control {
    display: flex;
    justify-content: flex-end;
}

.control :global(.ui.button){
    margin: 0;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #e0e1e2;
    width: 30px;
    height: 30px;
    padding: 0;
}

.dividerTop:global(.ui.divider){
    margin: 11px 0 14px
}

.dividerBottom:global(.ui.divider){
    margin: 32px 0  14px;
}

.control :global(.ui.button) :global(.icon){
    margin: 0 !important;
    height: 18px;
}
.directoryName{
    display: flex;
    align-items: center;
    margin-bottom: 12px !important;
}

.directoryIcon{
    font-size: 18px !important;
    color: #f0c709;
}

.imageGroup{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 110px;
    margin: 0 !important;
}