:global(.ui.grid)>:global(.row)>.logoColumn{
    display: flex;
    flex-direction: column;
}
.logoColumn>:global(div){
    display: flex;
    justify-content: center;
}
.uploadPhoto:global(.ui.button){
    margin-top: 10px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uploadPhoto :global(.icon) {
    font-size: 19px !important;
}

.buttonGroup{
    display: inline-block;
    float: right;
}